# pycharm config
.idea/

# cache
__pycache__/

# data: update .py
data/*
!data/*.py
!data/downsampling_method

# log
*.log

# weights
weights/*

# python script for exam
exam.py
downsampling.py
simulate.py

# images
images/*
!images/*.jpg

# markdown and pdf
summary/
*.md
*.pdf
*.pptx