# pycharm config
.idea/

# cache
__pycache__/

# data: update .py
data/*
!data/
!data/*.py

# log
*.log

# weights
weights/*
!weights/

# exam.py
exam.py

# images
images/*
!images/

# markdown and pdf
summary/
*.md
*.pdf
*.pptx